<h1>Details quiz</h1>

<div class="row w3-light-grey">
  <div class="col-md-4 col-sm-6 col-xs-6" style="height:150px;">
    <button class=" play w3-xlarge w3-dark-grey w3-padding-32 w3-hover-black" onclick="location.href='/quiz/play/<%= quiz.id %>'">Play</button>
  </div>
  <div class="col-md-8 col-sm-6 col-xs-6">
    <div class="w3-margin-bottom quiz-list">
        <div class="w3-light-grey">
            <div class="w3-container">
                <h3><%= quiz.title %></h3>
                <p class="w3-opacity">
                    <%= quiz.author %>
                </p>

            </div>
        </div>
    </div>
  </div>
</div>
<div class="row w3-light-grey">
  <div class="col-md-12">
      <p><%= quiz.description %></p>
  </div>
</div>

<br>

<div class="w3-row-padding">




    <!--<p><%- JSON.stringify(quiz) %></p>-->

    <div class="w3-col m12 w3-margin-bottom w3-grayscale">
        <table class="table table-bordered">
            <th>Question</th>
            <th>Answer 1</th>
            <th>Answer 2</th>
            <th>Answer 3</th>
            <th>Answer 4</th>
            <th>Delete</th>
            <% quiz.questions.forEach(function(q) { %>
                <tr>
                    <td>
                        <%= q.question %>
                    </td>
                    <td>
                        <%= q.correct_answer %>
                    </td>
                    <td>
                        <%= q.answer1 %>
                    </td>
                    <td>
                        <%= q.answer2 %>
                    </td>
                    <td>
                        <%= q.answer3 %>
                    </td>
                    <td>
                        <button class="w3-button w3-red w3-padding-large w3-hover-black" onclick="location.href='/questions/delete/<%= q.id %>'">
                            Delete
                        </button>
                    </td>
                </tr>
                <% }); %>
        </table>
    </div>

      <button class="w3-button w3-red w3-padding-large w3-hover-black w3-grayscale" onclick="location.href='/question/new/<%= quiz.id %>'">Add question</button>

      <br><br>

      <button class="w3-button w3-red w3-padding-large w3-hover-black w3-grayscale" onclick="location.href='/quiz/delete/<%= quiz.id %>'">Delete</button>


</div>

<script type="text/javascript">
      setInterval(animateButton, 3000);

      function animateButton(){

        $(".play").animate({height : '+=10px', width : '+=10px', opacity : '-=0.2'}, "normal");
        $(".play").animate({height : '-=10px', width : '-=10px', opacity : '+=0.5'}, "normal");

      }
</script>
